<img src="https://res.cloudinary.com/dm1ta9lno/image/upload/v1651838254/one-school-mail-template/header-2_gsdjug.jpg" style="width: 100%" />
    <p class="black-text-color" style="font-size: 16px;">Your account has been successfully created.</p>
    <p class="black-text-color" style="font-size: 16px;">You can proceed to explore all the Amazing learning resource we have set up for you</p>
        <div style="margin-top: 40px;">
          <div class="group-box group-box-2" style="background: #0179E9 url('https://res.cloudinary.com/dm1ta9lno/image/upload/v1646066076/cliqlite-mail-template/frame_hanxaj.png'); background-size: cover;">
            <div style="padding: 20px;">
              <div>
                <div style="font-size: 24px; color: white; text-align: center">Take a quick quiz to get started!</div>
                <div style="width: 100%; display: flex; justify-content: center;">
                  <button style="background: #004CBD; border-radius: 15px; color: white; border: none; padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; margin-top: 18px; cursor: pointer; box-shadow: 0 0 10px black;">
                    Get Started
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>