<img src="https://res.cloudinary.com/dm1ta9lno/image/upload/v1651836004/one-school-mail-template/header-1_vhppiz.jpg" style="width: 100%" />
    <p class="black-text-color" style="font-size: 16px; font-family: Plus Jakarta Display;">Welcome to One School</p>
    <p class="black-text-color" style="font-size: 16px; font-family: Plus Jakarta Display;">You can use this code 12345 to verify your account. Kindly note that this code will expire after 5mins.</p>
    <p class="black-text-color" style="font-size: 16px; font-family: Plus Jakarta Display;">Also, please see below for the credentials of your child.</p>
        <div style="margin-top: 40px;">
          <p class="lite-green" style="background: #0179E9; padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px; margin-bottom: 40px;">
            <span class="white-text-color" style="font-weight: bold; color: white; font-family: Plus Jakarta Display;"><strong>One School Assigned Email: sample@gmail.com</strong></span>
            <br /><br />
            <span class="white-text-color" style="font-weight: bold; color: white; font-family: Plus Jakarta Display;"><strong>Password: 12345678</strong></span>
          </p>
        </div>
        <p class="black-text-color" style="font-size: 16px; font-family: Plus Jakarta Display;">Please note that your account must be verified before your child can login with these credentials.</p>
        <p class="black-text-color" style="font-size: 16px; font-family: Plus Jakarta Display;">Thank you for choosing One School as your educational partner</p>
        