<img src="https://res.cloudinary.com/dm1ta9lno/image/upload/v1651900952/one-school-mail-template/header-6_uomkq1.jpg" style="width: 100%" />
<p class="black-text-color" style="font-size: 16px; font-family: Plus Jakarta Display;">Let's talk about Data Science</p>
<p class="black-text-color" style="font-size: 16px; margin-top: 30px; font-family: Plus Jakarta Display;">
  Your live class with David starts on 12/12/22
</p>
<p class="black-text-color" style="font-size: 16px; font-family: Plus Jakarta Display;">
  Join in to learn new things and share new knowledge with your classmates.
</p>
<p class="black-text-color" style="font-size: 16px; font-family: Plus Jakarta Display;">
    See you soon!
</p>
