<img src="https://res.cloudinary.com/dm1ta9lno/image/upload/v1651901172/one-school-mail-template/header-7_efvsdr.jpg" style="width: 100%" />
<p class="black-text-color" style="font-size: 16px; margin-top: 30px; font-family: Plus Jakarta Display;">
    Your live class with David starts in an hour
  </p>
  <p class="black-text-color" style="font-size: 16px; font-family: Plus Jakarta Display;">
    Come watch David share amazing discoveries on Data Science
  </p>
  <p class="black-text-color" style="font-size: 16px; font-family: Plus Jakarta Display;">
      See you soon!
  </p>