<img src="https://res.cloudinary.com/dm1ta9lno/image/upload/v1651902030/one-school-mail-template/header-9_yrri0t.jpg" style="width: 100%" />
<table>
    <tbody>
      <tr>
        <p style="font-size: 16px; font-family: Plus Jakarta Display;">
          We received your request to reset your password
        </p>
      </tr>
      <tr>
        <p style="font-size: 16px; font-family: Plus Jakarta Display;">
          Please use the OTP below to complete the reset.
        </p>
      </tr>
      <tr>
        <p style="background: #DEEFFF; width: 291px; height: 75px; color: #0179E9; text-align: center; font-size: 50px; font-family: Plus Jakarta Display; font-weight: bold;">
          593056
        </p>
      </tr>
      <tr>
        <p style="font-size: 16px; font-family: Plus Jakarta Display;">
          If you did not make this request, please contact our Support Team on <strong><span style="color: #0179E9;">80123323232434343</span></strong> or send an email to <strong><span style="color: #0179E9;">sample@gmail.com</span></strong>
        </p>
      </tr>
      <tr>
        <p style="font-size: 16px; font-family: Plus Jakarta Display;">
          Thank you for choosing Cliqlite as your educational partner.
        </p>
      </tr>
    </tbody>
  </table>
