<img src="https://res.cloudinary.com/dm1ta9lno/image/upload/v1651877067/one-school-mail-template/header-4_nk9bpn.jpg" style="width: 100%" />
<p class="black-text-color" style="font-size: 16px; font-family: Plus Jakarta Display;">Kindly note that your plan (plan type) expires on (Date and time)</p>
<p class="black-text-color" style="font-size: 16px; margin-top: 30px; font-family: Plus Jakarta Display;">
    Please ensure to renew your subscription to avoid getting diconnected from the World of wonders provided by One School.
</p>
<p class="black-text-color" style="margin-top: 15px; font-weight: bold; font-size: 18px; font-family: Plus Jakarta Display;">
    <strong>Thank you for choosing One School as your educational partner.</strong>
</p>