<img src="https://res.cloudinary.com/dm1ta9lno/image/upload/v1651901529/one-school-mail-template/header-8_o2qitg.jpg" style="width: 100%" />
<table>
    <tbody>
      <tr>
        <p style="font-size: 16px; font-family: Plus Jakarta Display;">
          We are unable to debit your card for recurring payment on "PLAN TYPE"<br />
          subcription which was due in 12/12/22
        </p>
      </tr>
      <tr>
        <p style="font-size: 16px; font-family: Plus Jakarta Display;">
          Kindly fund your account to avoid getting disconnected from the <strong>World of wonders</strong><br />
          provided by One School.
        </p>
      </tr>
      <tr>
        <p style="font-size: 16px; font-family: Plus Jakarta Display;">
          Thank you for choosing One School as your educational partner.
        </p>
      </tr>
    </tbody>
  </table>