<img src="https://res.cloudinary.com/dm1ta9lno/image/upload/v1651875956/one-school-mail-template/header-3_xvskvp.jpg" style="width: 100%" />
    <p class="black-text-color" style="font-size: 16px; font-family: Plus Jakarta Display;">Your (plan type) subscription paymanet was successful and expires on 12/12/22</p>
    <p class="black-text-color" style="font-size: 16px; font-family: Plus Jakarta Display;">Please see below the details of your transaction</p>
      
    <p class="lite-green" style="background: #F3F9FF; width: 100%; height: 29px;"></p>
    <p style="background: #F3F9FF;" class="table-container table-box">
    <table style="width: 100%; margin-top: -15px; font-family: Plus Jakarta Display;">
     <tbody>
      <tr>
          <td class="black-text-color" style="padding-top: 10px; padding-bottom: 10px; font-weight: bold;"><strong>Status</strong></td>
          <td class="black-text-color" style="padding-top: 10px; padding-bottom: 10px;">SUCCESSFUL</td>
      </tr>
      <tr>
        <td class="black-text-color" style="padding-top: 10px; padding-bottom: 10px; font-weight: bold;"><strong>Date and Time</strong></td>
        <td class="black-text-color" style="padding-top: 10px; padding-bottom: 10px;">time</td>
      </tr>
      <tr>
        <td class="black-text-color" style="padding-top: 10px; padding-bottom: 10px; font-weight: bold;"><strong>Child Name</strong></td>
        <td class="black-text-color" style="padding-top: 10px; padding-bottom: 10px;">Deborah Lawson</td>
      </tr>
      <tr>
        <td class="black-text-color" style="padding-top: 10px; padding-bottom: 10px; font-weight: bold;"><strong>Channel</strong></td>
        <td class="black-text-color" style="padding-top: 10px; padding-bottom: 10px;">Card (or Airtime)</td>
      </tr>
      <tr>
        <td class="black-text-color" style="padding-top: 10px; padding-bottom: 10px; font-weight: bold;"><strong>Amount</strong></td>
        <td class="black-text-color" style="padding-top: 10px; padding-bottom: 10px;">₦00.00</td>
      </tr>
     </tbody>
    </table>
    </p>