
    <img src="https://res.cloudinary.com/dm1ta9lno/image/upload/v1651900645/one-school-mail-template/header-5_h0dq6n.jpg" style="width: 100%" />
    <p class="black-text-color" style="font-size: 16px; font-family: Plus Jakarta Display;">The tutors at Cliqlite miss you and have loads of amazing new contents that presents you with new challenges</p>
    <p class="black-text-color" style="font-size: 16px; margin-top: 30px; font-family: Plus Jakarta Display;">
        Come on! Get on the Train and let's learn about Data Science today.
    </p>
